<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Title" value="HyperWSN SGX Config Tool "/>
    <add key="LiceseName"  value="GILBERT:E0:94:67:3E:F3:96"/>
    <add key="LiceseKey" value="IjCmHx2M2kTAmkYsUkYGUJYJI4T1mJYsU8=="/>
    
  </appSettings>
</configuration>