<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="Title" value="HyperWSN SGX Config Tool "/>
    <add key="LiceseName" value="GILBERT:E0:94:67:3E:F3:96"/>
    <add key="LiceseKey" value="IjCmHx2M2kTAmkYsUkYGUJYJI4T1mJYsU8=="/>

    <add key="ExportUnit" value="100"/>            <!--一次导出操作可以导出数据的数量-->
    <add key="ExportTimeoutMs" value="2000"/>      <!--一次导出操作的最大超时时间-->
    
    <add key="DisableConfig" value="false"/>
    <add key="DisableInternalSensor" value="false"/>
    <add key="DisableCC1101" value="false"/>
    <add key="DisableBootloader" value="false"/>
    <add key="DisableLayout" value="false"/>
    <add key="DisableExport" value="false"/>
    <add key="DisableBind" value="false"/>

  </appSettings>
</configuration>
